.contact h1{
  
   color: #2C3E50;
 
}
.contact-form
{
    width: 65%;
    height:80vh;   
}
.Contact-icon{
  position: relative;
  width: fit-content;
  margin-inline:auto ;
}
.Contact-icon::after{   
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    background-color: #2C3E50;
    top: 50%;
    left: 200%;
}   
.Contact-icon::before{
    content: '';
    position: absolute;
    width: 80px;
    height: 5px;
    top: 40%;
    right: 200%;
    background-color: #2C3E50;
}
input{

    box-shadow: none !important;
    border: none !important;
    border-bottom:  2px solid  rgba(128, 128, 128, 0.322) !important;

    
}
.btn{
    
    padding: 20px;
    background-color: #1abc9c !important ;
    color: white !important; 
}
